oauth2client
google-api-python-client
progress
progressbar2
httplib2shim
pyrogram>=2
aiohttp
aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
beautifulsoup4
bencoding
cfscrape
cloudscraper
dnspython
fake-headers
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/zevtyardt/lk21.git
heroku3
httpx
lxml
motor
natsort
pillow
psutil
pybase64
pymongo
pyrogram
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
uvloop
xattr
yt-dlp
